%link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet"}
  #login-overlay.modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#loginmodal.modal-title Login to CVM Cloud management
      .modal-body
        .row
          .col-xs-6
            .well
              %form#loginForm{:action => "/authentication/post_register", :method => "POST", :novalidate => "novalidate"}
                .form-group
                  %label.control-label{:for => "name"} *Name
                  %input#name.form-control{:name => "name",  :required => "", :title => "Please enter your name", :type => "text", :value => ""}
                    %span.help-block
                  .form-group
                  %label.control-label{:for => "email"} *Email
                  %input#email.form-control{:name => "email", :placeholder => "example@gmail.com", :required => "", :title => "Please enter you email", :type => "text", :value => ""}
                    %span.help-block
                .form-group
                  %label.control-label{:for => "username"} *Username
                  %input#username.form-control{:name => "username",  :required => "", :title => "Please enter you username", :type => "text", :value => ""}
                    %span.help-block
                .form-group
                  %label.control-label{:for => "password"} *Password
                  %input#password.form-control{:name => "password", :required => "", :title => "Please enter your password", :type => "password", :value => ""}
                    %span.help-block
                .form-group
                  %label.control-label{:for => "password"} *Confirm Password
                  %input#confpassword.form-control{:name => "confpassword", :required => "", :title => "Please enter your password", :type => "password", :value => ""}
                    %span.help-block
                #loginErrorMsg.alert.alert-error.hide Wrong username or password
                
                %button.btn.btn-success.btn-block{:type => "submit"} Register
           
            

